.welcome-outer{
    display: grid; 
    place-items: center; 
    width: 100%;
    margin-top: 140px;
    margin-bottom: 150px;
}

.welcome-inner{
    width: 80%;
}

.Typewriter{
    color: #ec3239;
    font-weight: 700;
    padding: 0 7px;
    border-radius: 5px;
    display: inline;
}

.welcome-quote{
    color: black;
}

#homepage-comp{
    scroll-behavior: smooth;
}

.down-btn{
    display: grid;
    place-items: center;
    width: 100%;
    margin-top: 80px;
}

button.chakra-button.drop-btn-icon.css-1uqd4og{
    border-radius: 20px;
    font-size: 30px;
}
button.chakra-button.drop-btn-icon.css-1uqd4og:focus{
    outline: none;
}